* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
  font-family: 'Playfair Display', serif;
}

p {
  padding-top: 15px;
  font-weight: 400;
  font-size: 30px;
  color: white;
}

.down__text {
  margin: 75px 0;
  font-weight: 400;
  margin-top: 15px;
  text-align: center;
  color: white;
}

h1 {
  text-align: center;
  font-weight: 400;
  font-size: 23px;
  margin: 30px auto;
  color: white;
}

.container {
  width: 100%;
  height: fit-content;
  background-image: url('../img/forthirdbg.JPG');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 60px;
}

.container::before {
  height: 100%;
}

.container::after {
  height: fit-content;
}

.child {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/*down*/
.transition,
ul li i:before,
ul li i:after,
.down__p {
  transition: all 0.25s ease-in-out;
}

.flipIn,
ul li {
  animation: flipdown 0.5s ease both;
}

.no-select,
.down__h2 {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.down {
  width: 80%;
  box-sizing: border-box;
  transform: translate(0, 0);
  max-width: 100%;
  min-height: 100%;
  margin: 0;
  left: 0;
}


.down__h2 {
  color: white;
  font-size: 26px;
  line-height: 22px;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.down__p {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 1px;
  position: relative;
  overflow: hidden;
  max-height: 800px;
  opacity: 1;
  transform: translate(0, 0);
  margin-top: 14px;
  z-index: 2;
  color: white;
}


ul {
  list-style: none;

  padding: 0;
  margin: 0;
}

ul li {
  flex-direction: column;
  align-content: center;
  display: flex;
  position: relative;
  margin: 0;
  padding: 10px 0;

}

ul li:nth-of-type(1) {
  animation-delay: 0.5s;
}

ul li:nth-of-type(2) {
  animation-delay: 0.75s;
}

ul li:nth-of-type(3) {
  animation-delay: 1s;
}

ul li:last-of-type {
  padding-bottom: 0;
}

ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 0;

}

ul li i:before,
ul li i:after {
  content: "";
  position: absolute;
  background-color: white;
  width: 3px;
  height: 9px;
}

ul li i:before {
  transform: translate(-2px, 0) rotate(45deg);
}

ul li i:after {
  transform: translate(2px, 0) rotate(-45deg);
}

ul li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}

ul li input[type=checkbox]:checked~p {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}

ul li input[type=checkbox]:checked~.down__img {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}

ul li input[type=checkbox]:checked~i:before {
  transform: translate(2px, 0) rotate(45deg);
}

ul li input[type=checkbox]:checked~i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

.down__img {
  max-width: 338px;
  height: 310px;
}

@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }

  5% {
    opacity: 1;
  }

  80% {
    transform: rotateX(8deg);
  }

  83% {
    transform: rotateX(6deg);
  }

  92% {
    transform: rotateX(-3deg);
  }

  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}