* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
  font-family: 'Playfair Display', serif;

}

html,
body {
  overflow-x: hidden;
  overflow-y: hidden;
}
.container {
  background-image: url('../img/forfourthbg.JPG');
  width: 100%;
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}