* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

body {
  position: relative;
}

body {
  overflow-y: hidden;
}

.banner {
  width: 100%;
  height: 700px;
  background-image: url('../img/BG1.JPG');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* input */
.input {
  position: absolute;
  top: 36px;
  left: 140px;
  border: none;
  border-radius: 12px;
  padding: 10px;
  background-color: #e8e8e8;
  font-size: medium;
  max-width: 125px;
}

.input:focus {
  outline-color: white;
}

/* Submit */
button {
  position: absolute;
  top: 165px;
  left: 170px;
  width: 76px;
  height: 40px;
  border: none;
  border-radius: 15px;
  background: transparent;
  background-color: #e8e8e8;
}

button::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: .7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

button:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em .25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 .75em .25em var(--glow-color);
}

button:active {
  box-shadow: 0 0 0.6em .25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 .5em .25em var(--glow-color);
}